* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.header-container {
    background-color: #e0f7fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#header {
    background-color: #e0f7fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.header-container {
    background-color: rgb(75, 190, 250);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

#header {
    background-color: rgb(75, 190, 250);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

#header-right {
    margin: 20px;
}

.book-elements{
    font-weight: bold;
}

.user-btn {
    color: #4a505c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.in {
    background-color: #e0f7fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
    padding: 5px;
}

/*.in{
    background-color: white;
    border-color: #4BBEFA;
    border-radius: 7px;
    margin-top:5px
}*/

.user-btn:hover, .user-btn:focus {
    color: #0056b3;
}

#my-account {
    margin-right: 20px;
    margin-bottom: 10px;
}    

.kr {
    width: 200px;
    height: 200px;
    background-color: #e0f7fa;
    border-radius: 50%;
    margin-top: -80px;
}

.searchbtn {
    background-color: #b9e5e8; /* Same as header background color */
    border: 1px solid #ddd; /* Same as header border color */
    border-radius: 5px; /* Same as header border radius */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Same as header box shadow */
    color: #4a505c; /* Same as user-btn color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Same as global font family */
}

.searchbtn:hover {
    background-color: #4a505c; /* Same as user-btn hover color */
    color: #e0f7fa; /* Same as header background color */
}

.ot {
    font-size: 35px;
    align-self: center;
    padding: 50px;
    color: white;
}

#povecalo {
    margin-top: 80px;
    margin-left: 50px;
}

#center {
    display: flex;
    flex-direction: row;
}

.objava {
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    /*padding: 15px;*/
    padding-top: 12px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width:45vw;
    height: 20vh;
    font-size:2.2vh;
}

.fot{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.objava .fot img {
    border-radius: 5px;
}

.left{

    display: flex;
    flex-direction: column;
    width: 45%;
    height: 120px;
    margin-left: 10px;
    justify-content: space-around;
}

.rig{

    display: flex;
    flex-direction: column;
    width: 45%;
    height: 120px;
    margin-left: 10px;
    justify-content: space-around;
}

.inf{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

@media screen and (max-width: 520px) {

    #povecalo{

        margin-top: 80px;
        margin-left: 32px;
    }
}


#error-message {
    color:red;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 200ms ease-in;
}
.htmx-request .htmx-indicator {
    opacity:1
}
.htmx-request.htmx-indicator {
    opacity:1
}