<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="header">
    <div id="logo" class="ot">
      <a href="index.html" style="text-decoration: none; color: white;"> Logo </a> 
    </div>
    <div id="krug" class="kr">
     <!-- <img id="povecalo" src="../public/images/traziLogo.png" alt="" width="100px" onclick="searchButtonClicked()"> privremeno maknuto-->
    </div>
    <div id="header-right">
      <div id="plus" class="ot" style="display: flex;">
        <p id="dropdown-button" onclick="dropdown()">Opcije</p> <!--stavio sam ovo jer me slika zezala. Ako ti se da namjestat slobodno vrati-->
        <div id="dropdown-content" class="dropdowns">
          <a href="#">Odjava</a>
          <a href="#">Nova objava</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../public/scripts/userScript.js"></script>
</html>