<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="header">
    <div id="logo" class="ot">
      <a href="index.html" style="text-decoration: none; color: white;"> Logo </a> 
    </div>
    <div id="krug" class="kr">
      <img id="povecalo" src="../public/images/traziLogo.png" alt="" width="100px" onclick="searchButtonClicked()">
    </div>
    <div id="header-right">
      <div id="logIn" class="ot">
        <a href="login.html" style="text-decoration: none; color: white;">log in</a>
      </div>
    </div>
  </div>
</body>
<script src="../public/scripts/main.js"></script>
</html>