<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/user.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div class="header-container">

        </div>

        <div id="center" style="justify-content: center; height: 100%; width:100%;">
            <div id="new-pub">
                <form>
                    <div class="pub-inputs">
                        <label>naziv</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>autor</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>god izdanja</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>izdavač</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>kategorija izdavača</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>žanr</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>ISBN</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>broj izdanja</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>stanje očuvanosti</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>tekstni opis</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>slika korica</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>ozn vrsta knjige</label>
                        <input type="text">
                    </div>
                    <div class="pub-inputs">
                        <label>lista ponuda?</label>
                        <input type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../public/scripts/userScript.js"></script>
</html>