<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/register.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <title>Title</title>
</head>
<body>

    <div id="top">
    
        <div id="logo" class="ot">
          <a href="index.html" style="text-decoration: none; color: white;"> Logo </a> 
        </div>


        <div id="krug" class="kr">
          <!--  <img id="povecalo" src="../public/images/traziLogo.png" alt="" width="100px" onclick="searchButton()"> za sad neka ovako bude, kasnije se dogovorimo ak zelimo ovo-->
        </div>

        <div id="logIn" class="ot">
             <!-- <a href="login.html"text-decoration: none; color: white;">log in</a> -->
        </div>
        <div id="plus" class="ot">
           <!-- <a href="regUser.html">
              <img width="70px" src="../public/slike/plusLogo.png" alt="">
            </a> -->
       </div>
    </div>

    <div class="main">
            <div class="center-box">
                <div class="center">
                    <div class="inputs">
                        <div class="inputDiv">
                            <label for="username" >
                                Korisničko ime
                                <input type="text" class="input-class" id="username" name="username">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="password">
                                Lozinka
                                <input type="password" class="input-class" id="password" name="password">
                            </label>    
                        </div>
                        <div class="inputDiv">
                            <label for="email">
                                Elektronička pošta
                                <input type="email" class="input-class" id="email" name="email">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="phone">
                                Broj mobitela
                                <input type="tel" class="input-class" id="number" name="number">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="category" class="category-label">
                                Kategorija
                                <div class="category-div">
                                    <select class="categories">
                                        <option value="izdavač">Izdavač</option>
                                        <option value="Preprodavač">Preprodavač</option>
                                        <option value="Antikvarijat">Antikvarijat</option>
                                    </select>
                                </div>
                        </div>
                        <div class="inputDiv">
                            <label for="address">
                                Adresa
                                <div id="reg-map">
                                    
                                </div>
                                <button id="send-location">Potvrdi lokaciju</button>
                                <!--<input type="text" class="input-class" id="address" name="address">-->
                            </label>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="buttons">
                        <button onclick="regReq()" class="register-button"> 
                            Registriraj se
                        </button>
                    </div>
                </div>
            </div>
        
    </div>
</body>

 <script src="../public/scripts/main.js"></script>
 <script src="../public/scripts/regScript.js"></script>


</html>