<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/register.css">
    <title>Epski dućan</title>
</head>
<body>
    <div class="main">
        <form>
            <div class="center-box">
                <div class="top">
                    <h2>Dobrodošli!</h2>
                </div>
                <div class="center">
                    <div class="inputs">
                        <div class="inputDiv">
                            <label for="username" >
                                Korisničko ime
                                <input type="text" class="input-class" id="username" name="username">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="password">
                                Lozinka
                                <input type="password" class="input-class" id="password" name="password">
                            </label>    
                        </div>
                        <div class="inputDiv">
                            <label for="email">
                                Elektronička pošta
                                <input type="email" class="input-class" id="email" name="email">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="phone">
                                Broj mobitela
                                <input type="text" class="input-class" id="number" name="number">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="address">
                                Adresa
                                <input type="text" class="input-class" id="address" name="address">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="buttons">
                        <button class="register-button">
                            Registriraj se
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>