<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/register.css">
    <title>Epski dućan</title>
</head>
<body>

    <div id="top">
    
        <div id="logo" class="ot">
          <a href="index.html" style="text-decoration: none; color: white;"> Logo </a> 
        </div>


        <div id="krug" class="kr">

            <a href="trazi.html"><img id="povecalo" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="" width="100px"> </a>
        </div>

        <div id="logIn" class="ot">
              <a href="/Nad/Nad/izvorniKod/views/login.html" style="text-decoration: none; color: white;">log in</a>
        </div>
        <div id="plus" class="ot">
            <a href="/Nad/Nad/izvorniKod/views/regUser.html">
              <img width="70px" src="/Nad/Nad/izvorniKod/public/slike/plusLogo.png" alt="">
            </a>
      </div>
    </div>


    <div class="main">
        
            <div class="center-box">
            
                <div class="center">
                    <div class="inputs">
                        <div class="inputDiv">
                            <label for="username" >
                                Korisničko ime
                                <input type="text" class="input-class" id="username" name="username">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="password">
                                Lozinka
                                <input type="password" class="input-class" id="password" name="password">
                            </label>    
                        </div>
                        <div class="inputDiv">
                            <label for="email">
                                Elektronička pošta
                                <input type="email" class="input-class" id="email" name="email">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="phone">
                                Broj mobitela
                                <input type="text" class="input-class" id="number" name="number">
                            </label>
                        </div>
                        <div class="inputDiv">
                            <label for="address">
                                Adresa
                                <input type="text" class="input-class" id="address" name="address">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="buttons">
                        <button onclick="login()" class="register-button">
                            Registriraj se
                        </button>
                    </div>
                </div>
            </div>
        
    </div>
</body>

 <script src="/Nad/Nad/izvorniKod/public/scripts/main.js"></script>
</html>