<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/reg.css">
    <title>Main page</title>
</head>

<body>

    <div id="top">
    
        <div id="logo" class="ot">
          <a href="index.html" style="text-decoration: none; color: white;"> Logo </a> 
        </div>


        <div id="krug" class="kr">

            <a href="trazi.html"><img id="povecalo" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="" width="100px"> </a>
        </div>

        <div id="logIn" class="ot">
            <a href="/Nad/Nad/izvorniKod/views/login.html" style="text-decoration: none; color: white;">log in</a>
        </div>

        <div id="plus" class="ot">
              <a href="/Nad/Nad/izvorniKod/views/regUser.html">
                <img width="70px" src="/Nad/Nad/izvorniKod/public/slike/plusLogo.png" alt="">
              </a>
        </div>
    </div>

    <div id="main">
       
        <div id="left"> 

            <div id="miniTraz">
                <label for="mini">Naziv knjige:</label> 
                <input type="text" class="in" id="mini">
                <a href="/Nad/Nad/izvorniKod/views/objave.html">
                <img id="min" style="margin-bottom: -3px;" width="25px" src="/Nad/Nad/izvorniKod/public/slike/miniTraziLogo.png" alt=""> 
                </a>
             </div>

            <div id="mapa">
                MAPA
            </div>

            <div id="listaZanr">
               <a href="objave.html"> 
                <button class="btnZanr"> KOMEDIJA </button></a>
                <button class="btnZanr"> AKCIJA </button>
                <button class="btnZanr"> DRAMA </button>
                <button class="btnZanr"> SCI-FI </button>
                <button class="btnZanr"> AVANTURISTICKI </button>
            </div>

            <div id="listaTop">
                <button class="btnZanr"> 1. KNJIGA </button>
                <button class="btnZanr"> 2. KNJIGA </button>
                <button class="btnZanr"> 3. KNJIGA </button>
                <button class="btnZanr"> 4. KNJIGA </button>
                <button class="btnZanr"> 5. KNJIGA </button>
            </div>

            <div id="rek">
                <button onclick="showZanr()" id="zarn" class="reklame"> žanr </button>
                <button onclick="showTop()" class="reklame"> top knjige </button>
                
            </div>
        </div>
        <div id="right"> 

           <a href="/Nad/Nad/izvorniKod/views/upravljanje.html"> <button class="mBtn">Upravljanje knjigama</button> </a>
           <a href="/Nad/Nad/izvorniKod/views/upravljanjeRac.html"> <button class="mBtn">Upravljanje računom</button> </a>
            
            <button onclick="logout()" class="mBtn">Log out</button>
            
        </div>
    </div>

</body>

<script src="/Nad/Nad/izvorniKod/public/scripts/main.js"></script>
</html>