<div id="search-container">
  <div id="trazi">
              
    <div class="inp">
      <label for="nazivk" class="lb"> naziv knjige: </label>
      <input type="text" id="nazivk" class="in">
    </div>

    <div class="inp">
      <label for="naziva" class="lb"> naziv autora: </label>
      <input type="text" id="naziva" class="in">
    </div>

    <div class="inp">
      <label for="godina" class="lb"> godina nastanka knjige: </label>
      <input type="number" min="1500" max="2023" id="godina" class="in">
    </div>

    <div class="inp">
      <label for="redni" class="lb"> redni broj izdanja knjige: </label>
      <input type="number" min="1" id="redni" class="in">
    </div>

    <div class="inp">
      <label for="nazivi" class="lb"> naziv izdavača: </label>
      <input type="text" id="nazivi" class="in">
    </div>

    <div class="inp">
      <label for="kategorijai" class="lb"> kategorija izdavača: </label>
      <input type="text" id="kategorijai" class="in">
    </div>

    <div class="inp">
      <label for="zarn" class="lb"> žanr: </label>
      <input type="text" id="zarn" class="in">
    </div>

    <div class="inp">
      <label for="isbn" class="lb"> ISBN: </label>
      <input type="text" id="isbn" class="in">
    </div>

    <div class="inp">
      <label for="oznaka" class="lb"> oznaka vrste knjige: </label>
      <input type="text" id="oznaka" class="in">
    </div>

    <div id="btnTrazi">
      <button class="searchbtn"> trazi </button>
    </div>

      
  </div>
</div>