<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Nad/Nad/izvorniKod/public/styles/objava.css">
    <title>Main page</title>
</head>

<body>

    <div id="top">
    
        <div id="logo" class="ot">
          <a href="index.html" style="text-decoration: none; color: white;"> Logo </a> 
        </div>


        <div id="krug" class="kr">

            <a href="trazi.html"><img id="povecalo" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="" width="100px"> </a>
        </div>

        <div id="logIn" class="ot">
            <a href="/Nad/Nad/izvorniKod/views/login.html" style="text-decoration: none; color: white;">log in</a>
      </div>
      <div id="plus" class="ot">
          <a href="/Nad/Nad/izvorniKod/views/regUser.html">
            <img width="70px" src="/Nad/Nad/izvorniKod/public/slike/plusLogo.png" alt="">
          </a>
    </div>
    </div>

    <div id="main">
       
        <div id="left"> 

            <div id="miniTraz">
                <label for="mini">Naziv knjige:</label> 
                <input type="text" class="in" id="mini">
                <a href="/Nad/Nad/izvorniKod/views/objave.html">
                <img id="min" style="margin-bottom: -3px;" width="25px" src="/Nad/Nad/izvorniKod/public/slike/miniTraziLogo.png" alt=""> 
                </a>
             </div>

            <div id="mapa">
                MAPA
            </div>

            <div id="listaZanr">
                <a href=""> <button class="btnZanr"> KOMEDIJA </button></a>
                <button class="btnZanr"> AKCIJA </button>
                <button class="btnZanr"> DRAMA </button>
                <button class="btnZanr"> SCI-FI </button>
                <button class="btnZanr"> AVANTURISTICKI </button>
            </div>

            <div id="listaTop">
                <button class="btnZanr"> 1. KNJIGA </button>
                <button class="btnZanr"> 2. KNJIGA </button>
                <button class="btnZanr"> 3. KNJIGA </button>
                <button class="btnZanr"> 4. KNJIGA </button>
                <button class="btnZanr"> 5. KNJIGA </button>
            </div>

            <div id="rek">
                <button onclick="showZanr()" id="zarn" class="reklame"> žarn </button>
                <button onclick="showTop()" class="reklame"> top knjige </button>
                
            </div>
        </div>
        <div id="right"> 

            <div id="o1" class="objava">
                <div class="fot">
                    <a href="profilKnjige.html"> 
                    <img width="100%" height="129%" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="">
                    </a>
                </div>

                <div class="inf">
                    <div class="left">
 
                         <div class="miniDiv"> naziv: knjiga </div>
                        
                         <div class="miniDiv"> autor: pisac </div>
                        
                    </div>


                    <div class="rig">

                        <div class="miniDiv"> žanr: komedija </div>
                        
                         <div class="miniDiv"> izdavac: dučan </div>
                    </div>

                    <div class="extra">
                     
                        <div id="mo1" onclick="remove(id)" class="obr"> x </div>
                    </div>
                    <div class="extra2">
                     
                        <div id="mo1" onclick="updateKn(id)" class="obr2"> ? </div>
                    </div>
                </div> 
            </div> 

            <div id="o2" class="objava">
                <div class="fot">
                   <img width="100%" height="100%" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="">
                </div>

                <div class="inf">
                    <div class="left">
 
                         <div class="miniDiv"> naziv: knjiga </div>
                        
                         <div class="miniDiv"> autor: pisac </div>
                        
                    </div>


                    <div class="rig">

                        <div class="miniDiv"> godina: 2002 </div>
                        
                         <div class="miniDiv"> izdavac: dučan </div>
                    </div>

                    <div class="extra">
                     
                        <div id="mo2" onclick="remove(id)" class="obr"> x </div>
                    </div>
                    <div class="extra2">
                     
                        <div id="mo2" onclick="updateKn(id)" class="obr2"> ? </div>
                    </div>
                </div> 
            </div>

            <div id="o3" class="objava">
                <div class="fot">
                   <img width="100%" height="100%" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="">
                </div>

                <div class="inf">
                    <div class="left">
 
                         <div class="miniDiv"> naziv: knjiga </div>
                        
                         <div class="miniDiv"> autor: pisac </div>
                        
                    </div>


                    <div class="rig">

                        <div class="miniDiv"> godina: 2002 </div>
                        
                         <div class="miniDiv"> izdavac: dučan </div>
                    </div>
                </div> 

                <div class="extra">
                     
                    <div id="mo3" onclick="remove(id)" class="obr"> x </div>
                </div>
                <div class="extra2">
                     
                    <div id="mo3" onclick="updateKn(id)" class="obr2"> ? </div>
                </div>
            </div>

            <div id="o4" class="objava">
                <div class="fot">
                   <img width="100%" height="100%" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="">
                </div>

                <div class="inf">
                    <div class="left">
 
                         <div class="miniDiv"> naziv: knjiga </div>
                        
                         <div class="miniDiv"> autor: pisac </div>
                        
                    </div>


                    <div class="rig">

                        <div class="miniDiv"> godina: 2002 </div>
                        
                         <div class="miniDiv"> izdavac: dučan </div>
                    </div>
                </div> 

                <div class="extra">
                     
                    <div id="mo4" onclick="remove(id)" class="obr"> x </div>
                </div>
                <div class="extra2">
                     
                    <div id="mo4" onclick="updateKn(id)" class="obr2"> ? </div>
                </div>
            </div>

            <div id="o5" class="objava">
                <div class="fot">
                   <img width="100%" height="100%" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="">
                </div>

                <div class="inf">
                    <div class="left">
 
                         <div class="miniDiv"> naziv: knjiga </div>
                        
                         <div class="miniDiv"> autor: pisac </div>
                        
                    </div>


                    <div class="rig">

                        <div class="miniDiv"> godina: 2002 </div>
                        
                         <div class="miniDiv"> izdavac: dučan </div>
                    </div>
                </div> 

                <div class="extra">
                     
                    <div id="mo5" onclick="remove(id)"  class="obr"> x </div>
                </div>
                <div class="extra2">
                     
                    <div id="mo5" onclick="updateKn(id)" class="obr2"> ? </div>
                </div>
            </div>

            <div id="o6" class="objava">
                <div class="fot">
                   <img width="100%" height="100%" src="/Nad/Nad/izvorniKod/public/slike/traziLogo.png" alt="">
                </div>

                <div class="inf">
                    <div class="left">
 
                         <div class="miniDiv"> naziv: knjiga </div>
                        
                         <div class="miniDiv"> autor: pisac </div>
                        
                    </div>


                    <div class="rig">

                        <div class="miniDiv"> godina: 2002 </div>
                        
                         <div class="miniDiv"> izdavac: dučan </div>
                    </div>
                </div> 

                <div class="extra">
                     
                    <div id="mo6" onclick="remove(id)" class="obr"> x </div>
                </div>
                <div class="extra2">
                     
                    <div id="mo6" onclick="updateKn(id)" class="obr2"> ? </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="/Nad/Nad/izvorniKod/public/scripts/main.js"></script>
<script src="/Nad/Nad/izvorniKod/public/scripts/ot2.js"></script>
</html>