@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login page</title>
</head>
<body>
<div class="main">  
    <div class="header-container">
            
    </div>      
    <div class="center-box">
        <div class="center">
            <div class="inputs">
                <div class="inputDiv">
                    <label for="username" >
                        Korisničko ime
                        <input type="text" class="input-class" id="username" name="username">
                    </label>
                </div>
                <div class="inputDiv">
                    <label for="password">
                        Lozinka
                        <input type="password" class="input-class" id="password" name="password">
                    </label>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="buttons">
                <button onclick="login()" id="logInBtn" class="login-button">
                    Prijavi se
                </button>
                        
                <p>Nemate račun? <a href="register.html">Registrirajte se!</a></p>
                <p>Zaboravili ste lozinku?<a href="">Resetirajte ovdje!</a></p>
            </div>
        </div>
    </div>
        
</div>
</body>

<script src="js/main.js"></script>
</html>