*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

#top {
    background-color: rgb(75, 190, 250);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.ot{
    font-size: 35px;
    align-self: center;
    padding: 50px;
    color: white;
}
.kr{
    width: 200px;
    height: 200px;
    background-color: rgb(75, 190, 250);
    border-radius: 50%;
    margin-top: -80px;
}

#povecalo{
    margin-top: 80px;
    margin-left: 50px;
}
#trazi{
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box{
    /*border : 2px solid #000;*/
    padding : 5px;
    display: inline-block;
    box-sizing: border-box;
    display: flex; 
    justify-content : center; 
    align-items : center;
    flex-direction: column;
    /* margin-left: 35%;
    margin-right: 35%; */
    /*width: 30vh;*/
}

.center {
    justify-items: center;
}

.bottom {
    text-align: center;
}

.bottom p {
    margin-top: 7px;
}


.inputs{
   margin-top:60px;
   margin-right:2px;
  /* display: flex;
    justify-content : center;
    align-items : center; */
}

.inputDiv {
    margin-bottom: 30px;
}

.inputs label {
    padding-bottom:5px;
    margin-bottom: 100px;
}

.inputs input {
    display: block;
    margin-bottom:5px;
    margin-top:10px;
    background-color: white;
    border-color: #4BBEFA;
    border-radius: 7px;
}

.buttons {
    display:block;
}

.buttons button {
    width: 150px;
    height: 60px;
    border-radius: 7px;
    background-color: #4BBEFA;
    color: white;
    border: 2px solid white;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    margin-top: 15px;

    cursor: pointer;
}
.buttons button:hover{
    background-color: blue;
}

@media screen and (max-width: 520px) {

    #povecalo{

        margin-top: 80px;
        margin-left: 32px;
    }  
} 