.objava{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 580px;
    height: 120px;
    border: 2px solid #cae5ef;
    margin-top: 15px;
    border-radius: 3px;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    background-color: #0077B6;
}
.fot{

    display: flex;
    flex-direction: column;
    width: 100px;
    
}
.inf{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.pub-left{

    display: flex;
    flex-direction: column;
    width: 45%;
    height: 120px;
    margin-left: 10px;
    justify-content: space-around;
}

.pub-right{

    display: flex;
    flex-direction: column;
    width: 45%;
    height: 120px;
    margin-left: 10px;
    justify-content: space-around;
}
.obr{

    padding-right: 10px;
    color: red;
    cursor: pointer;
    font-size: 24px;
}
.obr2{

    padding-right: 10px;
    color: yellow;
    cursor: pointer;
    font-size: 24px;
}
.extra{

    display: none;
}
.extra2{

    display: none;
}
/* LISTA OBJAVA KNJIGA, gore */

.profil{

    width: 90%;
    max-width: 600px;
    height: 200px;
    background-color: #0077B6;
    border: 2px solid #0077B6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
}
.foto{

    height: 100%;
    width: 200px;
}
.info{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile-left{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 30%;
}
.profile-mid{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    width: 30%;
}
.profile-right{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 30%;
}

.izdavaci{

    max-width: 600px;
    width: 100%;
    margin-left: 28px;
    margin-top: 10px;
}

.iz{

    width: 90%;
    max-width: 600px;
    height: 80px;
    margin-top: 10px;
    background-color: #0077B6;
    border: 2px solid #0077B6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

    color: white;
}
.oi{

    display: flex;
    margin-left: 30px;
    justify-content: center;
    justify-content: space-between;
}
.le{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;

}
.izDiv{

    margin-left: 30px;
}
#prevedi{
    margin-top: 30px;
}

/* PROFIL KNJIGE, gore, sve ovo bi se trebalo rasclaniti na vise css file zbog preglednsoti */
@media screen and (max-width: 1240px) {

    #left{

        margin-left: 75px;
    }
   
} 

@media screen and (max-width: 1140px) {

    #left{

        margin-left: 50px;
        
    
    }
    
    #right{

        margin-right: 50px;
        
    }
    .profil{
    
        font-size: 10px;
        margin-top: -100px;
    }
}  
@media screen and (max-width: 1000px) {

    #left{

        margin-left: 25px;
        
    
    }
    
    #right{

        margin-right: 25px;
        
    }
}  

@media screen and (max-width: 870px) {

    #left{

        margin-left: 5px;
        
    
    }
    
    #right{

        margin-right: 5px;
        
    }
    .objava{
    
        font-size: 16px;
    }
} 
@media screen and (max-width: 740px) {


    #miniTraz{
    
        display: none;
    }

   #top{
    width: 100vw;
   }
   #listaZanr{
        min-width: 300px;
        height: 300px;
   }
   #listaTop{
    min-width: 300px;
    height: 300px;
    }
    .objava{
    
        width: 90%;
    }
    .profil{
    
        font-size: 10px;
        width: 110%;
    }
  
    #main{
        
        flex-direction: column;
        flex-wrap: wrap;
    }

    #left{

        width: 80vw;
        height: 300px;
        margin-top: 70px;
        margin-left: 30px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    #right{

        width: 80vw;
        margin-top: 0px;
        display: flex;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    #mapa{

        min-width: 300px;
        height: 300px;
        border-radius: 4px;
        background-color: #9ED8DB;
        display: flex;
        font-size: 55px;
        justify-self: center;
        align-self: center;
    }
    .reklame{
    
        margin-top: 5px;
    }
    #rek{
        justify-self: center;
        align-self: center;
    }


}   
@media screen and (max-width: 645px) {

    #top{
        width: 100vw;
       }
    
        #main{
            
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        #left{
    
            width: 80vw;
            
            margin-top: 70px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-self: center;
            align-self: center;
        
        }
        #right{
    
            width: 80vw;
            margin-top: 0px;
            display: flex;
            justify-self: center;
            align-self: center;
            justify-content: center;
            align-items: center;
        }
        #mapa{
    
            min-width: 300px;
            height: 300px;
            border-radius: 4px;
            background-color: #9ED8DB;
            display: flex;
            font-size: 55px;
            justify-self: center;
            align-self: center;
        }
        .reklame{
        
            margin-top: 5px;
        }
        #rek{
            margin-left: 10px;
            margin-top: -50px;
        }
        .in{
        
            width: 100px;
        }
} 
@media screen and (max-width: 520px) {

    #povecalo{

        margin-top: 80px;
        margin-left: 32px;
    }  
} 

/* DIO ZA RESPOIVNI DIZAJN GORE, ako bude potrebno rasclaniti na vise css file*/