@model IEnumerable<Book>

@{
    Layout = null;
}

<div id="right">
    @foreach (Book book in Model)
    {
        <div id="o1" class="objava">
            <div class="fot">
                <a href="/book/@book.Id">
                    <img width="100%" height="100%" src="/image/@book.Id" alt="">
                </a>
            </div>

            <div class="inf">
                <div class="left">
                    <div class="miniDiv"> naslov: @book.Title </div>

                    <div class="miniDiv"> autor: @book.Author </div>

                </div>


                <div class="rig">
                    <div class="miniDiv"> žanr: @book.Genre </div>

                    <div class="miniDiv"> izdavac: @book.Publisher </div>
                </div>

                <div class="extra">
                    <div class="obr"> x </div>
                </div>
            </div>
        </div>
    }
</div>