@model System.Collections.Generic.List<string>
@{
    Layout = null;
}
<ul>
    @foreach (string genre in Model)
    {
        <li>
            <button hx-get="/genre/@genre" hx-target="#center-top">@genre</button>
        </li>
    }
</ul>