@{
    ViewData["Title"] = "Home";
}

@section Styles
{
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
}

@section ScriptsHead
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
}

@section ScriptsBody
{
    <script src="/js/main.js"></script>
}

<div id="center">
    <div id="left">
        <!--inicijalno prazan-->
    </div>
    <div id="center-top">
        <form id="main-search-form" action="/filter">
            <div id="miniTraz">
                <label for="mini">Što tražite?</label>
                <input type="text" class="in" id="mini" name="title">
                <input type="image" alt="Search" src="images/miniTraziLogo.png" width="25px">
            </div>
        </form>
        <h3 id="map-text" style="padding-top: 10px">Lokacije ponuditelja</h3>
        <div id="map"></div>
        <div id="rek"></div>
    </div>
</div>