@model int

@{
    Layout = null;
}

<div id="str" hx-swap-oob="true">
    @for (int i = 1; i <= Model; i++)
    {
        <button class="searchbtn" type="submit" form="filter-form" name="page" value="@i">@i</button>
    }
</div>