@model (int bookId, IEnumerable<User> allPublishers)

@{
    Layout = null;
}

<form hx-post="/translation-request" hx-swap="outerHTML">
    <label for="user-id">Odaberi izdavača</label>
    <select id="user-id" name="userId">
        @foreach (User user in Model.allPublishers)
        {
            <option value="@user.Id">@user.DisplayName</option>
        }
    </select>
    <input type="hidden" name="bookId" value="@Model.bookId"/>
    
    <input type="submit" value="Pošalji zahtjev"/>
</form>