@{
    ViewData["Title"] = "Home";
}

@section Styles
{
    <link rel="stylesheet" href="/css/main.css">
}

@section ScriptsBody
{
    <script>setTimeout(function () {window.location.href = '/';}, 2000)</script>
    <script src="/js/main.js"></script>
}

<div id="center"> 
    <div id="left">
        <!--inicijalno prazan-->
    </div>
    <div id="center-top"> 
        <h1 id="map-text">Transakcija uspjela.</h1>
    </div>
    <div id="right"> 
        <!--inicijalno prazan-->
    </div>
</div>