<div class="header-container">   
    <div id="header">
        <div id="logo" class="ot">
            <a href="/" style="text-decoration: none; color: white;"> Logo </a>
        </div>
        <div id="krug" class="kr">
            <a href="/filter">
                <img id="povecalo" src="/images/traziLogo.png" alt="" width="100px" onclick="searchButtonClicked()">
            </a>
        </div>
        <div id="header-right">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <p>Logged in.</p>
                <a href="/account/logout">Logout</a>
                @if (User.IsInRole("admin"))
                {
                    <a href="/account/requests">Zahtjevi za registraciju</a>
                }
            }
            else
            {
                <a href="/account/login">Login</a>
                <a href="/account/register">Register</a>
            }
        </div>
    </div>
</div>