<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/book.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div class="header-container">

        </div>
        <div id="center">
            <div class="profil">
                <div class="foto">
                    <img width="100%" height="100%" src="../public/images/traziLogo.png" alt=""> 
                </div>
                <div class="info">
                    <div class="profile-left">
                        <div class="miniDiv"> naziv: knjiga </div>       
                        <div class="miniDiv"> autor: pisac </div>
                        <div class="miniDiv"> godina: 2002 </div>      
                    </div>
            
                    <div class="profile-mid">
                        <div class="miniDiv"> br izdanja: 3 </div>
                        <div class="miniDiv"> izdavac: netko </div>
                        <div class="miniDiv"> kategorija izdavaca: preprodavatelj </div>
                    </div>
                    <div class="profile-right">
                        <div class="miniDiv"> žanr: komedija </div>                       
                        <div class="miniDiv"> ISBN: 22154545 </div>
                        <div class="miniDiv"> vrsta knjige: nezz </div>
                    </div>
                </div> 
            </div>
    </div>
</body>
<script src="../public/scripts/book.js"></script>
</html>