<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../wwwroot/css/book.css">
    <title>Document</title>
</head>
<body>
<div id="main">
    <div class="header-container">

    </div>
    <div id="center">
        <div class="profil">
            <div class="foto">
                <img width="100%" height="100%" src="">
            </div>
            <table class="info">
                <tr>
                    <th>Naziv</th>
                    <td>Knjiga</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>Pisac</td>
                </tr>
                <tr>
                    <th>Godina</th>
                    <td>2002</td>
                </tr>
                <tr>
                    <th>Broj izdanja</th>
                    <td>3</td>
                </tr>
                <tr>
                    <th>Izdavac</th>
                    <td>Netko</td>
                </tr>
                <tr>
                    <th>Kategorija izdavača</th>
                    <td>Preprodavatelj</td>
                </tr>
                <tr>
                    <th>Zanr</th>
                    <td>Komedija</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>22154545</td>
                </tr>
                <tr>
                    <th>Vrsta knjige</th>
                    <td>Nezz</td>
                </tr>
            </table>
        </div>
        <div class="image-container" style="margin-top:20px">
            <!-- Images go here -->
            <img src="https://picsum.photos/200/300">
            <img src="https://picsum.photos/200/400">
        </div>
    </div>
</div>
</body>
<script src="../wwwroot/js/book.js"></script>
</html> 