<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../wwwroot/css/main.css">
    <title>Document</title>
</head>
<body>
<div id="main">
    <div class="header-container">

    </div>

    <div id="center" style="justify-content: center; height: 100%; width:100%;">
        <div id="new-pub">
            <form id="pub-form" style="display:flex; flex-direction: column; padding-top: 30px" hx-post="" hx-target="" hx-indicator="">
                <label>Naziv</label>
                <input type="text" class="in" value="" required>

                <label>Autor</label>
                <input type="text" class="in" value="" required>

                <label>ISBN</label>
                <input type="text" class="in" value="" required>

                <label>Izdavač</label>
                <input type="text" class="in" value="" required>

                <label>Kategorija izdavaca</label>
                <input type="text" class="in" value="" required>

                <label>žanr</label>
                <select class="in" form="pub-form">
                    <option value="Komedija">Komedija</option>
                    <option value="Akcija">Akcija</option>
                    <option value="Drama">Drama</option>
                    <option value="Sci-fi">Sci-fi</option>
                    <option value="Avanturisticki">Avanturistički</option>
                </select>

                <label>Godina izdanja</label>
                <input type="text" class="in" value="" required>

                <label>Broj izdanja</label>
                <input type="text" class="in" value="" required>

                <label>Stanje</label>
                <input type="text" class="in" value="" required>

                <label>Opis</label>
                <input type="text" class="in" value="" required>

                <label>Jezik</label>
                <input type="text" class="in" value="" required>

                <label for="imageInput">Slika/e korica</label>
                <input type="file" id="imageInput"  class="in" name="images" accept="image/*" multiple required>

                <!--dodat image preview?-->

                <a href="../Views/myProfile.html"><button id="pub-button" class="searchbtn" value="Submit" form="pub-form">Spremi i vrati se</button></a>
            </form>
        </div>
    </div>
</div>
</body>
<script src="../wwwroot/js/userScript.js"></script>
</html>