<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
      <body>
        <div id="header">
          <div id="logo" class="ot">
            <a href="../Views/Home/Index.cshtml" style="text-decoration: none; color: white;"> Logo </a> 
              <!-- dodati kontroler?-->
          </div>
          <div id="krug" class="kr">
            <img id="povecalo" src="../wwwroot/images/traziLogo.png" alt="" width="100px" onclick="searchButtonClicked()">
          </div>
          <div id="header-right">
            
          </div>
        </div>
      </body>
      <script src="../wwwroot/js/main.js"></script>
      </html>