<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/user.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div class="header-container">

        </div>

        <div id="center" style="justify-content: center; height: 100%; width:100%;">
            <div id="new-pub">
                <form id="pub-form" style="display:flex; flex-direction: column;">
                    <label>naziv</label>
                    <input type="text">

                    <label>autor</label>
                    <input type="text">

                    <label>god izdanja</label>
                    <input type="text">

                    <label>izdavac</label>
                    <input type="text">

                    <label>kategorija izdavaca</label>
                    <input type="text">

                    <label>žanr</label>
                    <input type="text">

                    <label>ISBN</label>
                    <input type="text">

                    <label>Br. izdanja</label>
                    <input type="text">

                    <label>Stanje</label>
                    <input type="text">

                    <label>Opis</label>
                    <input type="text">

                    <label>Oznaka vrsta knjige</label>
                    <input type="text">

                    <label for="imageInput">Slika korica</label>
                    <input type="file" id="imageInput" name="image" accept="image/jpeg, image/png">
                    <!--dodat image preview?-->
                    <label>Lista ponuda?</label>
                    <input type="text">

                    <button id="pub-button" style="margin-top: 30px; width: 40%" >Dodaj objavu</button>
                    <!--dodat js za novu objavu-->
                </form>
            </div>
        </div>
    </div>
</body>
<script src="../public/scripts/userScript.js"></script>
</html>