@{
    ViewData["Title"] = "Login";
}

@section Styles
{
    <link rel="stylesheet" href="/css/login.css">
}

@section ScriptsBody
{
    <script src="/js/main.js"></script>
}

<div class="center-box">
    <div class="center">
        <form hx-post="/account/login" hx-target=".center-box" hx-target-error="#error-message" hx-indicator="#ind" class="inputs" id="login-form">
            <div class="inputDiv">
                <label for="username">Korisničko ime</label>
                <input type="text" class="in" id="username" name="username" required>
            </div>
            <div class="inputDiv">
                <label for="password">Lozinka</label>
                <input type="password" class="in" id="password" name="password" required>
            </div>
        </form>
    </div>
    <div class="bottom">
        <img id="ind" src="/images/bars.svg" alt="loading indicator" class="htmx-indicator">
        <p id="error-message"></p>
        <div class="buttons">
            <button id="logInBtn" class="searchbtn" type="submit" form="login-form" value="Submit">
                Prijavi se
            </button>
            <p>Nemate račun? <a href="/account/register" class="user-btn">Registrirajte se!</a></p>
        </div>
    </div>
</div>