@using StoZelisCitati.Helpers
@{
    ViewData["Title"] = "Register";
}

@section Styles
{
    <link rel="stylesheet" href="/css/register.css">
}

@section ScriptsBody
{
    <script src="/js/main.js"></script>
}

<div class="center-box">
    <div class="center">
        <form hx-post="/account/register" hx-target=".center-box" hx-target-error="#error-message" hx-indicator="#ind" class="inputs" id="register-form">
            <div class="inputDiv">
                <label for="username">Korisničko ime</label>
                <input type="text" class="in" id="username" name="username" required>
            </div>
            <div class="inputDiv">
                <label for="display-name">Naziv</label>
                <input type="text" class="in" id="display-name" name="displayName" required>
            </div>
            <div class="inputDiv">
                <label for="password">Lozinka</label>
                <input type="password" class="in" id="password" name="password" required>
            </div>
            <div class="inputDiv">
                <label for="email">Elektronička pošta</label>
                <input type="email" class="in" id="email" name="email" required>
            </div>
            <div class="inputDiv">
                <label for="phone-number">Broj mobitela</label>
                <input type="tel" class="in" id="phone-number" name="phoneNumber" required>
            </div>
            <div class="inputDiv">
                <label for="user-type" class="category-label">Kategorija ponuditelja</label>
                <div class="category-div">
                    <select class="in" id="user-type" name="userType" form="register-form">
                        <option value="@UserType.Publisher">Izdavač</option>
                        <option value="@UserType.Middleman">Preprodavač</option>
                        <option value="@UserType.Antiquarian">Antikvarijat</option>
                    </select>
                </div>
            </div>
            <div class="inputDiv">
                <label for="address">Ulica i kućni broj</label>
                <input type="text" class="in" id="address" name="address" required>
            </div>
            <div class="inputDiv">
                <label for="city">Grad</label>
                <input type="text" class="in" id="city" name="city" required>
            </div>
            <div class="inputDiv">
                <label for="country">Država</label>
                <input type="text" class="in" id="country" name="country" required>
            </div>
        </form>
    </div>
    <div class="bottom">
        <img id="ind" src="/images/bars.svg" alt="loading indicator" class="htmx-indicator">
        <p id="error-message"></p>
        <div class="buttons">
            <button id="regBtn" class="searchbtn" type="submit" form="register-form" value="Submit">
                Registriraj se
            </button>
        </div>
    </div>
</div>